################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lekcja13/obj
/Lekcja13/bin/Debug/netcoreapp3.1
/MoveToGitHUB.TXT
